--
-- PostgreSQL database dump
--

\restrict YwzKrpHZzNL5jiBea3YK88w5ye1Og2GXnWbB4qEWhNhC2rrOxcvssmdLSaf8ewl

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: Role; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Answer; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Answer" (
    id text NOT NULL,
    content text NOT NULL,
    "fileUrl" text,
    "fileType" text,
    "userId" text,
    "questionId" text NOT NULL,
    "isCorrect" boolean DEFAULT false NOT NULL,
    "isSpam" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Answer" OWNER TO admin;

--
-- Name: Comment; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Comment" (
    id text NOT NULL,
    text text NOT NULL,
    "userId" text,
    "noteId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Comment" OWNER TO admin;

--
-- Name: Flashcard; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Flashcard" (
    id text NOT NULL,
    front text NOT NULL,
    back text NOT NULL,
    "noteId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Flashcard" OWNER TO admin;

--
-- Name: FlashcardProgress; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."FlashcardProgress" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "flashcardId" text NOT NULL,
    "isKnown" boolean DEFAULT false NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FlashcardProgress" OWNER TO admin;

--
-- Name: Note; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Note" (
    id text NOT NULL,
    "courseName" text NOT NULL,
    "schoolName" text NOT NULL,
    description text,
    "fileUrl" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mimeType" text NOT NULL,
    "userId" text,
    "isHidden" boolean DEFAULT false NOT NULL,
    "needsReview" boolean DEFAULT false NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "aiSummary" text,
    "isPrivate" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Note" OWNER TO admin;

--
-- Name: NoteFavorite; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."NoteFavorite" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "noteId" text NOT NULL
);


ALTER TABLE public."NoteFavorite" OWNER TO admin;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "senderId" text NOT NULL,
    type text NOT NULL,
    "noteId" text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO admin;

--
-- Name: Question; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Question" (
    id text NOT NULL,
    content text NOT NULL,
    "fileUrl" text,
    "fileType" text,
    course text NOT NULL,
    topic text NOT NULL,
    "userId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isResolved" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Question" OWNER TO admin;

--
-- Name: Report; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Report" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "noteId" text NOT NULL,
    reason text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Report" OWNER TO admin;

--
-- Name: User; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "isEmailVerified" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "avatarUrl" text,
    name text,
    points integer DEFAULT 0 NOT NULL,
    university text,
    "pomodoroMinutes" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."User" OWNER TO admin;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO admin;

--
-- Data for Name: Answer; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Answer" (id, content, "fileUrl", "fileType", "userId", "questionId", "isCorrect", "isSpam", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Comment" (id, text, "userId", "noteId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Flashcard; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Flashcard" (id, front, back, "noteId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: FlashcardProgress; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."FlashcardProgress" (id, "userId", "flashcardId", "isKnown", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Note; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Note" (id, "courseName", "schoolName", description, "fileUrl", "fileSize", "mimeType", "userId", "isHidden", "needsReview", "isVerified", "createdAt", "updatedAt", "aiSummary", "isPrivate") FROM stdin;
\.


--
-- Data for Name: NoteFavorite; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."NoteFavorite" (id, "userId", "noteId") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Notification" (id, "userId", "senderId", type, "noteId", "isRead", "createdAt") FROM stdin;
\.


--
-- Data for Name: Question; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Question" (id, content, "fileUrl", "fileType", course, topic, "userId", "createdAt", "updatedAt", "isResolved") FROM stdin;
\.


--
-- Data for Name: Report; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Report" (id, "userId", "noteId", reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."User" (id, email, password, role, "isEmailVerified", "createdAt", "updatedAt", "avatarUrl", name, points, university, "pomodoroMinutes") FROM stdin;
67ad7ede-e7fb-41c9-a5bf-c6ca35927b50	irem@gmail.com	$2b$10$ZNwIvjhiKrALTLwPIjdYUONTqE5yZAFnObzef1rxCbkpbwn7Ao7XO	USER	t	2026-06-09 18:58:04.485	2026-06-09 18:58:04.485	\N	irem t├╝rk	0	\N	0
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: Answer Answer_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Answer"
    ADD CONSTRAINT "Answer_pkey" PRIMARY KEY (id);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: FlashcardProgress FlashcardProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."FlashcardProgress"
    ADD CONSTRAINT "FlashcardProgress_pkey" PRIMARY KEY (id);


--
-- Name: Flashcard Flashcard_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Flashcard"
    ADD CONSTRAINT "Flashcard_pkey" PRIMARY KEY (id);


--
-- Name: NoteFavorite NoteFavorite_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."NoteFavorite"
    ADD CONSTRAINT "NoteFavorite_pkey" PRIMARY KEY (id);


--
-- Name: Note Note_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Note"
    ADD CONSTRAINT "Note_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Question Question_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Question"
    ADD CONSTRAINT "Question_pkey" PRIMARY KEY (id);


--
-- Name: Report Report_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: FlashcardProgress_userId_flashcardId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "FlashcardProgress_userId_flashcardId_key" ON public."FlashcardProgress" USING btree ("userId", "flashcardId");


--
-- Name: NoteFavorite_userId_noteId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "NoteFavorite_userId_noteId_key" ON public."NoteFavorite" USING btree ("userId", "noteId");


--
-- Name: Report_userId_noteId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Report_userId_noteId_key" ON public."Report" USING btree ("userId", "noteId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Answer Answer_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Answer"
    ADD CONSTRAINT "Answer_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public."Question"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Answer Answer_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Answer"
    ADD CONSTRAINT "Answer_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_noteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_noteId_fkey" FOREIGN KEY ("noteId") REFERENCES public."Note"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Comment Comment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: FlashcardProgress FlashcardProgress_flashcardId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."FlashcardProgress"
    ADD CONSTRAINT "FlashcardProgress_flashcardId_fkey" FOREIGN KEY ("flashcardId") REFERENCES public."Flashcard"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FlashcardProgress FlashcardProgress_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."FlashcardProgress"
    ADD CONSTRAINT "FlashcardProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Flashcard Flashcard_noteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Flashcard"
    ADD CONSTRAINT "Flashcard_noteId_fkey" FOREIGN KEY ("noteId") REFERENCES public."Note"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NoteFavorite NoteFavorite_noteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."NoteFavorite"
    ADD CONSTRAINT "NoteFavorite_noteId_fkey" FOREIGN KEY ("noteId") REFERENCES public."Note"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NoteFavorite NoteFavorite_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."NoteFavorite"
    ADD CONSTRAINT "NoteFavorite_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Note Note_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Note"
    ADD CONSTRAINT "Note_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_noteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_noteId_fkey" FOREIGN KEY ("noteId") REFERENCES public."Note"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Question Question_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Question"
    ADD CONSTRAINT "Question_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Report Report_noteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_noteId_fkey" FOREIGN KEY ("noteId") REFERENCES public."Note"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Report Report_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict YwzKrpHZzNL5jiBea3YK88w5ye1Og2GXnWbB4qEWhNhC2rrOxcvssmdLSaf8ewl

